<div *ngIf="review != null && review != undefined">
  <div class="media">
    <a class="pull-left" href="#">
      <div class="avatar">
        <img *ngIf="review.fromUser.photo === null || review.fromUser.photo === undefined" class="media-object" src="../../../../assets/images/default-user-photo.png" alt="...">
        <img *ngIf="review.fromUser.photo !== null && review.fromUser.photo !== undefined" class="media-object" src="{{serverRoute}}{{review.fromUser.photo.url}}" alt="...">
      </div>
    </a>
    <div class="media-body">
      <h4 class="media-heading">{{review.fromUser.username}}</h4>
      <app-star-selector [fixedRating]=review.stars></app-star-selector>
      <p>{{review.description}}</p>

      <div class="media-footer">

      </div>
    </div>
  </div>
</div>
