<div *ngIf="review != null && review != undefined">
  <div class="media">
    <a class="pull-left" href="#">
      <div class="avatar">
        <img class="media-object" src="../../../../assets/images/default-user-photo.png" alt="...">
      </div>
    </a>
    <div class="media-body">
      <h4 class="media-heading">{{review.fromUser.username}}</h4>
      <h6 class="pull-right text-muted">Sep 11, 11:57 AM</h6>

      <p>{{review.description}}</p>

      <div class="media-footer">

      </div>
    </div>
  </div>
</div>
