<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="card.component.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="card" style="width: 18rem;">

  <img class="card-img-top" src="E:\computer\Documents\Year 3\Proiect Colectiv\dog-walking.jpg" alt="Card image cap" width="286" height="180">
  <div class="card-body">
    <h3 class="card-title">Card title</h3>
    <p class="posting_date">10/10/2018</p>
    <p class="card-text">Descriere foarte interesanta despre job</p>
    <a href="#" class="card-price"> $120 </a>
    <a href="#" class="btn btn-primary" style="background-color: #36B5CD; border: #36B5CD; align-self: self-end" >Apply</a>
  </div>
</div>
<body>
