<div class="flex-container">
  <div class="inner-flex-container">
    <div *ngFor="let posting of postings; let i = index">
      <app-card *ngIf="i % 5 === 0"[posting]="posting"></app-card>
    </div>
  </div>

  <div class="inner-flex-container">
    <div *ngFor="let posting of postings; let i = index">
      <app-card *ngIf="i % 5 === 1" [posting]="posting"></app-card>
    </div>
  </div>

  <div class="inner-flex-container">
    <div *ngFor="let posting of postings; let i = index">
      <app-card *ngIf="i % 5 === 2"[posting]="posting"></app-card>
    </div>
  </div>

  <div class="inner-flex-container">
    <div *ngFor="let posting of postings; let i = index">
      <app-card *ngIf="i % 5 === 3"[posting]="posting"></app-card>
    </div>
  </div>

  <div class="inner-flex-container">
    <div *ngFor="let posting of postings; let i = index">
      <app-card *ngIf="i % 5 === 4"[posting]="posting"></app-card>
    </div>
  </div>
  
</div>
