<div class="container">

  <div *ngIf="loading">
    <div class="loader loader-center"></div>
  </div>

  <div *ngIf="!loading">
    <div class="card">
      <div *ngIf="posting.photo != null && posting.photo != undefined">
        <img class="card-img-top" src="{{serverRoute}}{{posting.photo.url}}" alt="Card image cap">
      </div>
      <div *ngIf="posting.photo == null || posting.photo == undefined">
        <img class="card-img-top" src="../../../assets/images/unavailable-image.jpg" alt="Card image cap">
      </div>
      <div class="card-body">
        <h3 class="card-title">{{posting.name}}</h3>
        <!--<p class="posting_date">{{posting.startTime | date:'dd MMM yyyy'}}</p>-->
        <p class="card-text">{{posting.description}}</p>
        <div class="bot">
          <a class="card-price">{{posting.price}} lei</a>

          <!-- TODO if the ctx user posted this, show the applicants -->
          <div *ngIf="isOwnPosting">
            <h4>Applicants</h4>
            <div *ngFor="let applicant of posting.applicantUsers">
              <!--TODO Link the user to his page-->
              <a><h5>{{applicant.username}}</h5></a>
            </div>
          </div>
          <div *ngIf="!isOwnPosting">
            <div *ngIf="!hasUserApplied">
              <a (click)="apply()" class="btn btn-primary">Apply</a>
            </div>
            <div *ngIf="hasUserApplied">
              <a (click)="unapply()" class="btn btn-warning">Unapply</a>
            </div>
          </div>
        </div>
        <!--Apply button-->
        <app-applicants-list [posting]="posting"></app-applicants-list>
      </div>
    </div>
  </div>
</div>
