<div class="section section-gray">
  <div class="container">

    <div class="text-center">
      <h1 *ngIf="authService.isAuthenticated">Welcome {{authService.user.username}},
        <small class="subtitle">Hope you have a wonderful day! </small>
      </h1>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="image">
            <img src="../../../assets/vendor/gsdk/assets/img/thumb.jpg" alt="..."/>
            <div class="filter">
              <button type="button" class="btn btn-neutral btn-simple">
                <i class="fa fa-bookmark-o"></i> Bookmark
              </button>
              <button type="button" class="btn btn-neutral btn-simple">
                <i class="fa fa-align-left"></i> Read article
              </button>
            </div>
          </div>
          <div class="content">
            <p class="category">Latest news</p>
            <a class="card-link" href="#">
              <h4 class="title">Get Shit Done Kit PRO, the most wanted bootstrap kit is here </h4>
            </a>
            <div class="footer">
              <div class="author">
                <a class="card-link" href="#">
                  <i class="fa fa-female"></i> Elena Conacel
                </a>
              </div>
              <div class="stats pull-right">
                <i class="fa fa-clock-o"></i> 7 min read
              </div>
            </div>
          </div>
        </div> <!-- end card -->
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="content">
            <p class="category">Featured</p>
            <a class="card-link" href="#">
              <h4 class="title">Get Shit Done Kit PRO, the most wanted bootstrap kit is here </h4>
            </a>
            <a href="#">
            </a>
            <div class="footer">
              <div class="author">
                <a class="card-link" href="#">
                  <img src="../../../assets/vendor/gsdk/assets/img/default-avatar.png" alt="..." class="avatar">
                  <span> Alex Paduraru </span>
                </a>
              </div>
              <div class="stats pull-right">
                <i class="fa fa-clock-o"></i> 3 hours ago
              </div>
            </div>
          </div>
        </div> <!-- end card -->
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="content">
            <p class="category text-danger">
              <i class="fa fa-fire" rel="tooltip" title="Hot!"></i>
            </p>
            <a class="card-link" href="#">
              <h4 class="title">Get Shit Done Kit PRO, the most wanted bootstrap kit is here </h4>
            </a>
            <a href="#">
            </a>
            <div class="footer">
              <div class="author">
                <a class="card-link" href="#">
                  <i class="fa fa-male"></i>
                  Rick Ross
                </a>
              </div>
              <div class="stats pull-right">
                <a class="card-link" href="#">
                  <i class="fa fa-star"></i> 89
                </a>
              </div>
              <div class="stats pull-right">
                <a class="card-link" href="#">
                  <i class="fa fa-comment"></i> 41
                </a>
              </div>
            </div>
          </div>
        </div> <!-- end card -->
      </div>

      <div class="col-md-8">
        <div class="card card-horizontal">
          <div class="row">
            <div class="col-md-5">
              <div class="image">
                <img src="../../../assets/vendor/gsdk/assets/img/thumb.jpg" alt="..."/>
                <div class="filter filter-azure">
                  <button type="button" class="btn btn-neutral btn-round">
                    <i class="fa fa-heart"></i> Recommend
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="content">
                <p class="category text-info">
                  <i class="fa fa-trophy"></i> Best of
                </p>

                <a class="card-link" href="#">
                  <h4 class="title">Get Shit Done Kit PRO, the most wanted bootstrap kit is here </h4>
                </a>
                <a class="card-link" href="#">
                  <p class="description">Edgerank completely fails to have the effect it was originally designed for nice product. This will be a really interesting post about Facebook's biggest mistake yet...</p>
                </a>
                <div class="footer">
                  <div class="stats">
                    <a class="card-link" href="#">
                      <i class="fa fa-male"></i> Radu Tintescu
                    </a>
                  </div>
                  <div class="stats">
                    <a class="card-link" href="#">
                      <i class="fa fa-comments"></i> 23 Comments
                    </a>
                  </div>
                  <div class="stats">
                    <a class="card-link" href="#">
                      <i class="fa fa-heart"></i> 231 Likes
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end card -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="image">
            <img src="../../../assets/vendor/gsdk/assets/img/thumb.jpg" alt="..."/>
            <div class="filter filter-white">
              <button type="button" class="btn btn-default btn-simple">
                <i class="fa fa-image"></i> Preview
              </button>
              <button type="button" class="btn btn-success btn-simple">
                <i class="fa fa-check"></i> Publish
              </button>
              <button type="button" class="btn btn-danger btn-simple">
                <i class="fa fa-times"></i> Delete
              </button>
            </div>
          </div>
          <div class="content">
            <p class="category">Latest from <a class="card-link" href="">Best Stories</a></p>
            <a class="card-link" href="#">
              <h4 class="title">Get Shit Done Kit PRO, the most wanted bootstrap kit is here </h4>
            </a>
            <a class="card-link" href="#">
              <p class="description">Edgerank completely fails to have the effect it was originally designed for nice product. This will be a really interesting post about Facebook's biggest mistake yet...</p>
            </a>
            <div class="footer">
              <div class="author">
                <a class="card-link" href="#">
                  <img src="../../../assets/vendor/gsdk/assets/img/default-avatar.png" alt="..." class="avatar">
                  <span> Alex Paduraru</span>
                </a>
              </div>
              <div class="stats pull-right">
                <a class="card-link" href="#">
                  <i class="fa fa-comments"></i> 89
                </a>
              </div>
              <div class="stats pull-right">
                <a class="card-link" href="#">
                  <i class="fa fa-heart"></i> 341
                </a>
              </div>
            </div>
          </div>
        </div> <!-- end card -->
      </div>

      <div class="col-md-5">
        <div class="card">
          <div class="content">
            <!--                             <p class="category">Featured</p> -->
            <p class="category text-right">
              <i class="fa fa-star text-warning" rel="tooltip" title="Featured"></i>
            </p>
            <a class="card-link" href="#">
              <h4 class="title">Get Shit Done Kit PRO, the most wanted bootstrap kit is here </h4>
            </a>
            <a class="card-link" href="#">
            </a>
            <div class="footer">
              <div class="author">
                <a class="card-link" href="#">
                  <img src="../../../assets/vendor/gsdk/assets/img/new_logo.png" alt="..." class="avatar">
                  <span> Creative Tim</span>
                </a>
              </div>
              <div class="stats pull-right">
                <a class="card-link" href="#">
                  <i class="fa fa-comments"></i> 89
                </a>
              </div>
              <div class="stats pull-right">
                <a class="card-link" href="#">
                  <i class="fa fa-heart"></i> 341
                </a>
              </div>
            </div>
          </div>
        </div> <!-- end card -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="image">
            <img src="../../../assets/vendor/gsdk/assets/img/thumb.jpg" alt="..."/>
            <div class="filter">
              <button type="button" class="btn btn-neutral btn-simple">
                <i class="fa fa-bookmark-o"></i> Bookmark
              </button>
              <button type="button" class="btn btn-neutral btn-simple">
                <i class="fa fa-align-left"></i> Read article
              </button>
            </div>
          </div>
          <div class="content">
            <p class="category">Latest news</p>
            <a class="card-link" href="#">
              <h4 class="title">Get Shit Done Kit PRO, the most wanted bootstrap kit is here </h4>
            </a>
            <div class="footer">
              <div class="author">
                <a class="card-link" href="#">
                  <i class="fa fa-female"></i> Elena Conacel
                </a>
              </div>
              <div class="stats pull-right">
                <i class="fa fa-clock-o"></i> 7 min read
              </div>
            </div>
          </div>
        </div> <!-- end card -->
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="content">
            <p class="category">Featured</p>
            <a class="card-link" href="#">
              <h4 class="title">Get Shit Done Kit PRO, the most wanted bootstrap kit is here </h4>
            </a>
            <a href="#">
            </a>
            <div class="footer">
              <div class="author">
                <a class="card-link" href="#">
                  <img src="../../../assets/vendor/gsdk/assets/img/default-avatar.png" alt="..." class="avatar">
                  <span> Alex Paduraru </span>
                </a>
              </div>
              <div class="stats pull-right">
                <i class="fa fa-clock-o"></i> 3 hours ago
              </div>
            </div>
          </div>
        </div> <!-- end card -->
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="content">
            <p class="category text-danger">
              <i class="fa fa-fire" rel="tooltip" title="Hot!"></i>
            </p>
            <a class="card-link" href="#">
              <h4 class="title">Get Shit Done Kit PRO, the most wanted bootstrap kit is here </h4>
            </a>
            <a href="#">
            </a>
            <div class="footer">
              <div class="author">
                <a class="card-link" href="#">
                  <i class="fa fa-male"></i>
                  Rick Ross
                </a>
              </div>
              <div class="stats pull-right">
                <a class="card-link" href="#">
                  <i class="fa fa-star"></i> 89
                </a>
              </div>
              <div class="stats pull-right">
                <a class="card-link" href="#">
                  <i class="fa fa-comment"></i> 41
                </a>
              </div>
            </div>
          </div>
        </div> <!-- end card -->
      </div>

      <div class="col-md-8">
        <div class="card card-horizontal">
          <div class="row">
            <div class="col-md-5">
              <div class="image">
                <img src="../../../assets/vendor/gsdk/assets/img/thumb.jpg" alt="..."/>
                <div class="filter filter-azure">
                  <button type="button" class="btn btn-neutral btn-round">
                    <i class="fa fa-heart"></i> Recommend
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="content">
                <p class="category text-info">
                  <i class="fa fa-trophy"></i> Best of
                </p>

                <a class="card-link" href="#">
                  <h4 class="title">Get Shit Done Kit PRO, the most wanted bootstrap kit is here </h4>
                </a>
                <a class="card-link" href="#">
                  <p class="description">Edgerank completely fails to have the effect it was originally designed for nice product. This will be a really interesting post about Facebook's biggest mistake yet...</p>
                </a>
                <div class="footer">
                  <div class="stats">
                    <a class="card-link" href="#">
                      <i class="fa fa-male"></i> Radu Tintescu
                    </a>
                  </div>
                  <div class="stats">
                    <a class="card-link" href="#">
                      <i class="fa fa-comments"></i> 23 Comments
                    </a>
                  </div>
                  <div class="stats">
                    <a class="card-link" href="#">
                      <i class="fa fa-heart"></i> 231 Likes
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end card -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="image">
            <img src="../../../assets/vendor/gsdk/assets/img/thumb.jpg" alt="..."/>
            <div class="filter filter-white">
              <button type="button" class="btn btn-default btn-simple">
                <i class="fa fa-image"></i> Preview
              </button>
              <button type="button" class="btn btn-success btn-simple">
                <i class="fa fa-check"></i> Publish
              </button>
              <button type="button" class="btn btn-danger btn-simple">
                <i class="fa fa-times"></i> Delete
              </button>
            </div>
          </div>
          <div class="content">
            <p class="category">Latest from <a class="card-link" href="">Best Stories</a></p>
            <a class="card-link" href="#">
              <h4 class="title">Get Shit Done Kit PRO, the most wanted bootstrap kit is here </h4>
            </a>
            <a class="card-link" href="#">
              <p class="description">Edgerank completely fails to have the effect it was originally designed for nice product. This will be a really interesting post about Facebook's biggest mistake yet...</p>
            </a>
            <div class="footer">
              <div class="author">
                <a class="card-link" href="#">
                  <img src="../../../assets/vendor/gsdk/assets/img/default-avatar.png" alt="..." class="avatar">
                  <span> Alex Paduraru</span>
                </a>
              </div>
              <div class="stats pull-right">
                <a class="card-link" href="#">
                  <i class="fa fa-comments"></i> 89
                </a>
              </div>
              <div class="stats pull-right">
                <a class="card-link" href="#">
                  <i class="fa fa-heart"></i> 341
                </a>
              </div>
            </div>
          </div>
        </div> <!-- end card -->
      </div>

      <div class="col-md-5">
        <div class="card">
          <div class="content">
            <!--                             <p class="category">Featured</p> -->
            <p class="category text-right">
              <i class="fa fa-star text-warning" rel="tooltip" title="Featured"></i>
            </p>
            <a class="card-link" href="#">
              <h4 class="title">Get Shit Done Kit PRO, the most wanted bootstrap kit is here </h4>
            </a>
            <a class="card-link" href="#">
            </a>
            <div class="footer">
              <div class="author">
                <a class="card-link" href="#">
                  <img src="../../../assets/vendor/gsdk/assets/img/new_logo.png" alt="..." class="avatar">
                  <span> Creative Tim</span>
                </a>
              </div>
              <div class="stats pull-right">
                <a class="card-link" href="#">
                  <i class="fa fa-comments"></i> 89
                </a>
              </div>
              <div class="stats pull-right">
                <a class="card-link" href="#">
                  <i class="fa fa-heart"></i> 341
                </a>
              </div>
            </div>
          </div>
        </div> <!-- end card -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="image">
            <img src="../../../assets/vendor/gsdk/assets/img/thumb.jpg" alt="..."/>
            <div class="filter">
              <button type="button" class="btn btn-neutral btn-simple">
                <i class="fa fa-bookmark-o"></i> Bookmark
              </button>
              <button type="button" class="btn btn-neutral btn-simple">
                <i class="fa fa-align-left"></i> Read article
              </button>
            </div>
          </div>
          <div class="content">
            <p class="category">Latest news</p>
            <a class="card-link" href="#">
              <h4 class="title">Get Shit Done Kit PRO, the most wanted bootstrap kit is here </h4>
            </a>
            <div class="footer">
              <div class="author">
                <a class="card-link" href="#">
                  <i class="fa fa-female"></i> Elena Conacel
                </a>
              </div>
              <div class="stats pull-right">
                <i class="fa fa-clock-o"></i> 7 min read
              </div>
            </div>
          </div>
        </div> <!-- end card -->
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="content">
            <p class="category">Featured</p>
            <a class="card-link" href="#">
              <h4 class="title">Get Shit Done Kit PRO, the most wanted bootstrap kit is here </h4>
            </a>
            <a href="#">
            </a>
            <div class="footer">
              <div class="author">
                <a class="card-link" href="#">
                  <img src="../../../assets/vendor/gsdk/assets/img/default-avatar.png" alt="..." class="avatar">
                  <span> Alex Paduraru </span>
                </a>
              </div>
              <div class="stats pull-right">
                <i class="fa fa-clock-o"></i> 3 hours ago
              </div>
            </div>
          </div>
        </div> <!-- end card -->
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="content">
            <p class="category text-danger">
              <i class="fa fa-fire" rel="tooltip" title="Hot!"></i>
            </p>
            <a class="card-link" href="#">
              <h4 class="title">Get Shit Done Kit PRO, the most wanted bootstrap kit is here </h4>
            </a>
            <a href="#">
            </a>
            <div class="footer">
              <div class="author">
                <a class="card-link" href="#">
                  <i class="fa fa-male"></i>
                  Rick Ross
                </a>
              </div>
              <div class="stats pull-right">
                <a class="card-link" href="#">
                  <i class="fa fa-star"></i> 89
                </a>
              </div>
              <div class="stats pull-right">
                <a class="card-link" href="#">
                  <i class="fa fa-comment"></i> 41
                </a>
              </div>
            </div>
          </div>
        </div> <!-- end card -->
      </div>

      <div class="col-md-8">
        <div class="card card-horizontal">
          <div class="row">
            <div class="col-md-5">
              <div class="image">
                <img src="../../../assets/vendor/gsdk/assets/img/thumb.jpg" alt="..."/>
                <div class="filter filter-azure">
                  <button type="button" class="btn btn-neutral btn-round">
                    <i class="fa fa-heart"></i> Recommend
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="content">
                <p class="category text-info">
                  <i class="fa fa-trophy"></i> Best of
                </p>

                <a class="card-link" href="#">
                  <h4 class="title">Get Shit Done Kit PRO, the most wanted bootstrap kit is here </h4>
                </a>
                <a class="card-link" href="#">
                  <p class="description">Edgerank completely fails to have the effect it was originally designed for nice product. This will be a really interesting post about Facebook's biggest mistake yet...</p>
                </a>
                <div class="footer">
                  <div class="stats">
                    <a class="card-link" href="#">
                      <i class="fa fa-male"></i> Radu Tintescu
                    </a>
                  </div>
                  <div class="stats">
                    <a class="card-link" href="#">
                      <i class="fa fa-comments"></i> 23 Comments
                    </a>
                  </div>
                  <div class="stats">
                    <a class="card-link" href="#">
                      <i class="fa fa-heart"></i> 231 Likes
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end card -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="image">
            <img src="../../../assets/vendor/gsdk/assets/img/thumb.jpg" alt="..."/>
            <div class="filter filter-white">
              <button type="button" class="btn btn-default btn-simple">
                <i class="fa fa-image"></i> Preview
              </button>
              <button type="button" class="btn btn-success btn-simple">
                <i class="fa fa-check"></i> Publish
              </button>
              <button type="button" class="btn btn-danger btn-simple">
                <i class="fa fa-times"></i> Delete
              </button>
            </div>
          </div>
          <div class="content">
            <p class="category">Latest from <a class="card-link" href="">Best Stories</a></p>
            <a class="card-link" href="#">
              <h4 class="title">Get Shit Done Kit PRO, the most wanted bootstrap kit is here </h4>
            </a>
            <a class="card-link" href="#">
              <p class="description">Edgerank completely fails to have the effect it was originally designed for nice product. This will be a really interesting post about Facebook's biggest mistake yet...</p>
            </a>
            <div class="footer">
              <div class="author">
                <a class="card-link" href="#">
                  <img src="../../../assets/vendor/gsdk/assets/img/default-avatar.png" alt="..." class="avatar">
                  <span> Alex Paduraru</span>
                </a>
              </div>
              <div class="stats pull-right">
                <a class="card-link" href="#">
                  <i class="fa fa-comments"></i> 89
                </a>
              </div>
              <div class="stats pull-right">
                <a class="card-link" href="#">
                  <i class="fa fa-heart"></i> 341
                </a>
              </div>
            </div>
          </div>
        </div> <!-- end card -->
      </div>

      <div class="col-md-5">
        <div class="card">
          <div class="content">
            <!--                             <p class="category">Featured</p> -->
            <p class="category text-right">
              <i class="fa fa-star text-warning" rel="tooltip" title="Featured"></i>
            </p>
            <a class="card-link" href="#">
              <h4 class="title">Get Shit Done Kit PRO, the most wanted bootstrap kit is here </h4>
            </a>
            <a class="card-link" href="#">
            </a>
            <div class="footer">
              <div class="author">
                <a class="card-link" href="#">
                  <img src="../../../assets/vendor/gsdk/assets/img/new_logo.png" alt="..." class="avatar">
                  <span> Creative Tim</span>
                </a>
              </div>
              <div class="stats pull-right">
                <a class="card-link" href="#">
                  <i class="fa fa-comments"></i> 89
                </a>
              </div>
              <div class="stats pull-right">
                <a class="card-link" href="#">
                  <i class="fa fa-heart"></i> 341
                </a>
              </div>
            </div>
          </div>
        </div> <!-- end card -->
      </div>
    </div>
  </div>
</div>
