<div class="parallax">
  <div class="parallax-image">
    <img src="../assets/vendor/gsdk/assets/img/header.jpg">
  </div>
  <div class="motto">
    <div>Get</div>
    <div class="border no-right-border">Sh</div><div class="border">it</div>
    <div>Done</div>
    <label class="pro square">PRO</label>
  </div>
  <h3 class="motivation">Start designing and developing faster.</h3>
</div>

<div class="main">
  <div class="section">
    <div class="container tim-container">
      <div class="tim-title">
        <h2>Basic Elements</h2>
      </div>

      <div id="buttons">
        <div class="tim-title">
          <h3>Buttons <small> Pick your class </small></h3>
        </div>

        <div class="row tim-row">
          <div class="col-md-4">
            <div class="pick-class">
              <span class="pick-class-label label-default label-fill label-tooltip" data-toggle="tooltip" data-placement="top" title="Default" new-class="btn-default"> </span>
              <span class="pick-class-label label-primary label-fill label-tooltip" data-toggle="tooltip" data-placement="top" title="Primary" new-class="btn-primary"> </span>
              <span class="pick-class-label label-info label-fill label-tooltip" data-toggle="tooltip" data-placement="top" title="Info" new-class="btn-info"> </span>
              <span class="pick-class-label label-success label-fill label-tooltip" data-toggle="tooltip" data-placement="top" title="Success" new-class="btn-success"> </span>
              <span class="pick-class-label label-warning label-fill label-tooltip" data-toggle="tooltip" data-placement="top" title="Warning" new-class="btn-warning"> </span>
              <span class="pick-class-label label-danger label-fill label-tooltip" data-toggle="tooltip" data-placement="top" title="Danger" new-class="btn-danger"> </span>
            </div>
          </div>
        </div>
        <div class="row tim-row" id="display-buttons" data-class="btn-info">
          <div class="col-md-3">
            <button href="#fakelink" class="btn btn-block btn-lg btn-info">Default Button</button>
          </div>
          <div class="col-md-3">
            <button href="#fakelink" class="btn btn-block btn-lg btn-fill btn-info">Filled Button</button>
          </div>
          <div class="col-md-3">
            <button href="#fakelink" class="btn btn-block btn-lg btn-round btn-info">Round Button</button>
          </div>
          <div class="col-md-3">
            <button href="#fakelink" class="btn btn-block btn-lg btn-simple btn-info">Simple Button</button>
          </div>

        </div> <!-- end row -->
        <div class="tim-title">
          <h3>Morphing Buttons <small>Loading buttons with response</small></h3>
        </div>
        <div class="row">
          <div class="col-md-3">

            <button class="btn btn-info btn-lg" id="successBtn" data-toggle="morphing" data-rotation-color="azure">Submit Success</button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-lg" id="errorBtn" data-toggle="morphing" data-rotation-color="">Submit Error</button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-warning btn-lg btn-round" id="starBtn" data-toggle="morphing" data-rotation-color="orange">Instant Star</button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-round btn-info btn-lg" id="thumbBtn" data-toggle="morphing" data-rotation-color="azure">Thumbs Up</button>
          </div>
        </div>
        <div class="tim-title">
          <h3>Social Buttons</h3>
        </div>
        <div class="row">
          <div class="col-md-1 social-buttons-demo">
            <h4><small>Filled</small></h4>
            <button class="btn btn-social btn-fill btn-twitter">
              <i class="fa fa-twitter"></i>
            </button><br>
            <button class="btn btn-social btn-fill btn-facebook">
              <i class="fa fa-facebook"> </i>
            </button><br>
            <button class="btn btn-social btn-fill btn-google">
              <i class="fa fa-google-plus"> </i>
            </button><br>
            <button class="btn btn-social btn-fill btn-linkedin">
              <i class="fa fa-linkedin"></i>
            </button><br>
            <button class="btn btn-social btn-fill btn-pinterest">
              <i class="fa fa-pinterest"></i>
            </button><br>
            <button class="btn btn-social btn-fill btn-youtube">
              <i class="fa fa-youtube-play"> </i>
            </button><br>
            <button class="btn btn-social btn-fill btn-tumblr">
              <i class="fa fa-tumblr"> </i>
            </button><br>
            <button class="btn btn-social btn-fill btn-github">
              <i class="fa fa-github"></i>
            </button><br>
            <button class="btn btn-social btn-fill btn-behance">
              <i class="fa fa-behance"></i>
            </button><br>
            <button class="btn btn-social btn-fill btn-dribbble">
              <i class="fa fa-dribbble"></i>
            </button><br>
            <button class="btn btn-social btn-fill btn-reddit">
              <i class="fa fa-reddit"></i>
            </button><br>
            <button class="btn btn-social btn-fill btn-stumbleupon">
              <i class="fa fa-stumbleupon"></i>
            </button><br>
          </div>
          <div class="col-md-1 social-buttons-demo">
            <h4><small> &nbsp;</small></h4>
            <button class="btn btn-social btn-fill btn-round btn-twitter">
              <i class="fa fa-twitter"></i>
            </button><br>
            <button class="btn btn-social btn-fill btn-round btn-facebook">
              <i class="fa fa-facebook"> </i>
            </button><br>
            <button class="btn btn-social btn-fill btn-round btn-google">
              <i class="fa fa-google-plus"> </i>
            </button><br>
            <button class="btn btn-social btn-fill btn-round btn-linkedin">
              <i class="fa fa-linkedin"></i>
            </button><br>
            <button class="btn btn-social btn-fill btn-round btn-pinterest">
              <i class="fa fa-pinterest"></i>
            </button><br>
            <button class="btn btn-social btn-fill btn-round btn-youtube">
              <i class="fa fa-youtube-play"> </i>
            </button><br>
            <button class="btn btn-social btn-fill btn-round btn-tumblr">
              <i class="fa fa-tumblr"> </i>
            </button><br>
            <button class="btn btn-social btn-fill btn-round btn-github">
              <i class="fa fa-github"></i>
            </button><br>
            <button class="btn btn-social btn-fill btn-round btn-behance">
              <i class="fa fa-behance"></i>
            </button><br>
            <button class="btn btn-social btn-fill btn-round btn-dribbble">
              <i class="fa fa-dribbble"></i>
            </button><br>
            <button class="btn btn-social btn-fill btn-round btn-reddit">
              <i class="fa fa-reddit"></i>
            </button><br>
            <button class="btn btn-social btn-fill btn-round btn-stumbleupon">
              <i class="fa fa-stumbleupon"></i>
            </button><br>
          </div>
          <div class="col-md-3 social-buttons-demo">
            <h4><small> &nbsp; </small></h4>
            <button class="btn btn-social btn-fill btn-twitter">
              <i class="fa fa-twitter"></i> Connect with Twitter
            </button><br>
            <button class="btn btn-social btn-fill btn-facebook">
              <i class="fa fa-facebook-square"></i> Share &middot; 2.2k
            </button><br>
            <button class="btn btn-social btn-fill btn-google">
              <i class="fa fa-google-plus-square"></i> Share on Google+
            </button><br>
            <button class="btn btn-social btn-fill btn-linkedin">
              <i class="fa fa-linkedin-square"></i> Connect with Linkedin
            </button><br>
            <button class="btn btn-social btn-fill btn-pinterest">
              <i class="fa fa-pinterest"></i> Pint it &middot; 212
            </button><br>
            <button class="btn btn-social btn-fill btn-youtube">
              <i class="fa fa-youtube-play"></i> View on Youtube
            </button><br>
            <button class="btn btn-social btn-fill btn-tumblr">
              <i class="fa fa-tumblr-square"></i> Repost
            </button><br>
            <button class="btn btn-social btn-fill btn-github">
              <i class="fa fa-github"></i> Connect with Github
            </button><br>
            <button class="btn btn-social btn-fill btn-behance">
              <i class="fa fa-behance-square"></i> Follow us
            </button><br>
            <button class="btn btn-social btn-fill btn-dribbble">
              <i class="fa fa-dribbble"></i> Find us on Dribble
            </button><br>
            <button class="btn btn-social btn-fill btn-reddit">
              <i class="fa fa-reddit"></i> Repost &middot; 232
            </button><br>
            <button class="btn btn-social btn-fill btn-stumbleupon">
              <i class="fa fa-stumbleupon"></i> View on StumbleUpon
            </button><br>
          </div>
          <div class="col-md-1 social-buttons-demo">
            <h4><small>Default</small></h4>
            <button class="btn btn-social btn-twitter">
              <i class="fa fa-twitter"></i>
            </button><br>
            <button class="btn btn-social  btn-facebook">
              <i class="fa fa-facebook"> </i>
            </button><br>
            <button class="btn btn-social  btn-google">
              <i class="fa fa-google-plus"> </i>
            </button><br>
            <button class="btn btn-social  btn-linkedin">
              <i class="fa fa-linkedin"></i>
            </button><br>
            <button class="btn btn-social  btn-pinterest">
              <i class="fa fa-pinterest"></i>
            </button><br>
            <button class="btn btn-social  btn-youtube">
              <i class="fa fa-youtube"> </i>
            </button><br>
            <button class="btn btn-social  btn-tumblr">
              <i class="fa fa-tumblr"> </i>
            </button><br>
            <button class="btn btn-social  btn-github">
              <i class="fa fa-github"></i>
            </button><br>
            <button class="btn btn-social  btn-behance">
              <i class="fa fa-behance"></i>
            </button><br>
            <button class="btn btn-social  btn-dribbble">
              <i class="fa fa-dribbble"></i>
            </button><br>
            <button class="btn btn-social  btn-reddit">
              <i class="fa fa-reddit"></i>
            </button><br>
            <button class="btn btn-social  btn-stumbleupon">
              <i class="fa fa-stumbleupon"></i>
            </button><br>
          </div>
          <div class="col-md-1 social-buttons-demo">
            <h4><small>Light</small></h4>
            <button class="btn btn-social btn-round btn-twitter">
              <i class="fa fa-twitter"></i>
            </button><br>
            <button class="btn btn-social btn-round btn-facebook">
              <i class="fa fa-facebook"> </i>
            </button><br>
            <button class="btn btn-social btn-round btn-google">
              <i class="fa fa-google-plus"> </i>
            </button><br>
            <button class="btn btn-social btn-round btn-linkedin">
              <i class="fa fa-linkedin"></i>
            </button><br>
            <button class="btn btn-social btn-round btn-pinterest">
              <i class="fa fa-pinterest"></i>
            </button><br>
            <button class="btn btn-social btn-round btn-youtube">
              <i class="fa fa-youtube"> </i>
            </button><br>
            <button class="btn btn-social btn-round btn-tumblr">
              <i class="fa fa-tumblr"> </i>
            </button><br>
            <button class="btn btn-social btn-round btn-github">
              <i class="fa fa-github"></i>
            </button><br>
            <button class="btn btn-social btn-round btn-behance">
              <i class="fa fa-behance"></i>
            </button><br>
            <button class="btn btn-social btn-round btn-dribbble">
              <i class="fa fa-dribbble"></i>
            </button><br>
            <button class="btn btn-social btn-round btn-reddit">
              <i class="fa fa-reddit"></i>
            </button><br>
            <button class="btn btn-social btn-round btn-stumbleupon">
              <i class="fa fa-stumbleupon"></i>
            </button><br>
          </div>
          <div class="col-md-1 social-buttons-demo">
            <h4><small>Simple</small></h4>
            <button class="btn btn-social btn-simple btn-twitter">
              <i class="fa fa-twitter"></i>
            </button><br>
            <button class="btn btn-social btn-simple btn-facebook">
              <i class="fa fa-facebook-square"> </i>
            </button><br>
            <button class="btn btn-social btn-simple btn-google">
              <i class="fa fa-google-plus-square"> </i>
            </button><br>
            <button class="btn btn-social btn-simple btn-linkedin">
              <i class="fa fa-linkedin-square"></i>
            </button><br>
            <button class="btn btn-social btn-simple btn-pinterest">
              <i class="fa fa-pinterest"></i>
            </button><br>
            <button class="btn btn-social btn-simple btn-youtube">
              <i class="fa fa-youtube"> </i>
            </button><br>
            <button class="btn btn-social btn-simple btn-tumblr">
              <i class="fa fa-tumblr-square"> </i>
            </button><br>
            <button class="btn btn-social btn-simple btn-github">
              <i class="fa fa-github"></i>
            </button><br>
            <button class="btn btn-social btn-simple btn-behance">
              <i class="fa fa-behance"></i>
            </button><br>
            <button class="btn btn-social btn-simple btn-dribbble">
              <i class="fa fa-dribbble"></i>
            </button><br>
            <button class="btn btn-social btn-simple btn-reddit">
              <i class="fa fa-reddit"></i>
            </button><br>
            <button class="btn btn-social btn-simple btn-stumbleupon">
              <i class="fa fa-stumbleupon"></i>
            </button><br>
          </div>
          <div class="col-md-3 social-buttons-demo">
            <h4><small>With Text</small></h4>
            <button class="btn btn-social btn-simple btn-twitter">
              <i class="fa fa-twitter"></i> Connect with Twitter
            </button><br>
            <button class="btn btn-social btn-simple btn-facebook">
              <i class="fa fa-facebook-square"></i> Share &middot; 2.2k
            </button><br>
            <button class="btn btn-social btn-simple btn-google">
              <i class="fa fa-google-plus-square"></i> Share on Google+
            </button><br>
            <button class="btn btn-social btn-simple btn-linkedin">
              <i class="fa fa-linkedin-square"></i> Connect with Linkedin
            </button><br>
            <button class="btn btn-social btn-simple btn-pinterest">
              <i class="fa fa-pinterest"></i> Pint it &middot; 212
            </button><br>
            <button class="btn btn-social btn-simple btn-youtube">
              <i class="fa fa-youtube-play"></i> View on Youtube
            </button><br>
            <button class="btn btn-social btn-simple btn-tumblr">
              <i class="fa fa-tumblr-square"></i> Repost
            </button><br>
            <button class="btn btn-social btn-simple btn-github">
              <i class="fa fa-github"></i> Connect with Github
            </button><br>
            <button class="btn btn-social btn-simple btn-behance">
              <i class="fa fa-behance-square"></i> Follow us
            </button><br>
            <button class="btn btn-social btn-simple btn-dribbble">
              <i class="fa fa-dribbble"></i> Find us on Dribble
            </button><br>
            <button class="btn btn-social btn-simple btn-reddit">
              <i class="fa fa-reddit"></i> Repost &middot; 232
            </button><br>
            <button class="btn btn-social btn-simple btn-stumbleupon">
              <i class="fa fa-stumbleupon"></i> View on StumbleUpon
            </button><br>
          </div>


        </div>

      </div>
      <!-- end buttons div -->

      <div id="inputs">
        <div class="tim-title">
          <h3>Inputs</h3>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <input type="text" value="" placeholder="Inactive" class="form-control" />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group has-success">
              <input type="text" value="Success" class="form-control" />
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group has-error has-feedback">
              <input type="text" value="Error" class="form-control" />
              <span class="fa fa-times form-control-feedback"></span>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="input-group">
              <!-- 	   Since the css properties cannot check the previous sibling of an element and for the design consistency we recommend to use the "input-group-addon" after the "form-control" like in this example -->
              <input type="text" value="Group Addon" class="form-control">
              <span class="input-group-addon"><i class="fa fa-group"></i></span>
            </div>
          </div>
        </div> <!-- end row -->
        <div class="row tim-row">
          <div class="col-sm-6">
            <div class="tim-title">
              <h3>Customizable Select</h3>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <select name="huge" class="selectpicker" data-style="form-control">
                    <option disabled selected> Choose city</option>
                    <option value="1">Paris </option>
                    <option value="1">Bucharest</option>
                    <option value="1">Rome</option>
                    <option value="1">New York</option>
                    <option value="1">Miami </option>
                    <option value="1">Piatra Neamt</option>
                    <option value="1">Paris </option>
                    <option value="1">Bucharest</option>
                    <option value="1">Rome</option>
                    <option value="1">New York</option>
                    <option value="1">Miami </option>
                    <option value="1">Piatra Neamt</option>
                    <option value="1">Paris </option>
                    <option value="1">Bucharest</option>
                    <option value="1">Rome</option>
                    <option value="1">New York</option>
                    <option value="1">Miami </option>
                    <option value="1">Piatra Neamt</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <select name="huge" class="selectpicker" data-style="btn-info btn-fill btn-block">
                    <option disabled selected> Choose City</option>
                    <option value="1">Paris </option>
                    <option value="1">Bucharest</option>
                    <option value="1">Rome</option>
                    <option value="1">New York</option>
                    <option value="1">Miami </option>
                    <option value="1">Piatra Neamt</option>
                    <option value="1">Paris </option>
                    <option value="1">Bucharest</option>
                    <option value="1">Rome</option>
                    <option value="1">New York</option>
                    <option value="1">Miami </option>
                    <option value="1">Piatra Neamt</option>
                    <option value="1">Paris </option>
                    <option value="1">Bucharest</option>
                    <option value="1">Rome</option>
                    <option value="1">New York</option>
                    <option value="1">Miami </option>
                    <option value="1">Piatra Neamt</option>
                  </select>
                </div>
              </div>
            </div> <!-- row interior -->
          </div> <!-- end col-sm-6 -->
          <div class="col-sm-3">
            <div class="tim-title">
              <h3>Tags </h3>
            </div>

            <input name="tagsinput" class="tagsinput tag-azure" value="Mini, Light, New" />
            <!-- You can change "tag-azure" with with "tag-blue", "tag-green", "tag-orange","tag-red" and you can also add "tag-fill" for having filled tags -->

          </div>
          <div class="col-sm-3">
            <div class="tim-title">
              <h3><small>Autocomplete Tags</small> </h3>
            </div>
            <input name="tagsinput" class="tagsinput-autocomplete tag-orange" value="Ale" />
          </div>
        </div> <!-- end row -->
        <div class="row tim-row">
          <div class="col-sm-6">
            <h3>Textarea</h3>
            <textarea class="form-control" placeholder="Here can be your nice text" rows="8"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="tim-title">
              <h3>Checkboxes</h3>
            </div>

            <label class="checkbox" for="checkbox1">
              <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
              Unchecked
            </label>
            <label class="checkbox" for="checkbox2">
              <input type="checkbox" value="" id="checkbox2" data-toggle="checkbox" checked>
              Checked
            </label>
            <label class="checkbox" for="checkbox3">
              <input type="checkbox" value="" id="checkbox3" data-toggle="checkbox" disabled>
              Disabled unchecked
            </label>
            <label class="checkbox" for="checkbox4">
              <input type="checkbox" value="" id="checkbox4" data-toggle="checkbox" disabled checked>
              Disabled checked
            </label>
          </div>

          <div class="col-sm-3">
            <div class="tim-title">
              <h3>Radio Buttons</h3>
            </div>

            <label class="radio">
              <input type="radio" name="optionsRadios" data-toggle="radio" id="optionsRadios1" value="option1">
              <i></i>Radio is off
            </label>
            <label class="radio">
              <input type="radio" name="optionsRadios" data-toggle="radio" id="optionsRadios2" value="option1" checked>
              <i></i>Radio is on
            </label>

            <label class="radio">
              <input type="radio" name="optionsRadiosDisabled" data-toggle="radio" id="optionsRadios3" value="option2" disabled>
              <i></i>Disabled radio is off
            </label>
            <label class="radio">
              <input type="radio" name="optionsRadiosDisabled" data-toggle="radio" id="optionsRadios4" value="option2" checked disabled>
              <i></i>Disabled radio is on
            </label>

          </div>

          <!--<div class="col-sm-3">-->
          <!--<div class="tim-title">-->
          <!--<h3>Switches</h3>-->
          <!--&lt;!&ndash;-->

          <!--The colors for checkbox: ct-blue[default], ct-azure, ct-orange, ct-green, ct-red-->
          <!--<input type="checkbox" checked data-toggle="switch" class="ct-red"/>-->

          <!--&ndash;&gt;-->
          <!--<input type="checkbox" checked data-toggle="switch" class="ct-info"/>-->
          <!--<input type="checkbox" data-toggle="switch" />-->
          <!--<h3>Switches with icons</h3>-->
          <!--<div class="switch"-->
          <!--data-on-label="<i class='fa fa-check'></i>"-->
          <!--data-off-label="<i class='fa fa-times'></i>">-->
          <!--<input type="checkbox" checked/>-->
          <!--</div>-->
          <!--<div class="switch"-->
          <!--data-on-label="<i class='fa fa-check'></i>"-->
          <!--data-off-label="<i class='fa fa-times'></i>">-->
          <!--<input type="checkbox"/>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->

          <div class="col-sm-3">

          </div>

        </div><!--  end row -->

      </div><!--  end inputs -->

      <div id="menu-dropdown">
        <div class="row">
          <div class="col-md-6">
            <div class="tim-title">
              <h3>Menu & Dropdowns</h3>
            </div>
            <br>

            <div>
              <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Menu</a>
                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                          <li class="divider"></li>
                          <li><a href="#">One more separated link</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav>

            </div><!--  end navbar -->

            <br>
            <div id="navbar">
              <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dropdowns</a>
                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" >
                    <ul class="nav navbar-nav">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          Regular
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                          <li class="divider"></li>
                          <li><a href="#">One more separated link</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <img src="../assets/vendor/gsdk/assets/img/flags/US.png"/>
                          Flags
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="#"><img src="../assets/vendor/gsdk/assets/img/flags/DE.png"/> Deutsch</a></li>
                          <li><a href="#"><img src="../assets/vendor/gsdk/assets/img/flags/GB.png"/> English(UK)</a></li>
                          <li><a href="#"><img src="../assets/vendor/gsdk/assets/img/flags/FR.png"/> Français</a></li>
                          <li><a href="#"><img src="../assets/vendor/gsdk/assets/img/flags/RO.png"/> Română</a></li>
                          <li><a href="#"><img src="../assets/vendor/gsdk/assets/img/flags/IT.png"/> Italiano</a></li>

                          <li class="divider"></li>
                          <li><a href="#"><img src="../assets/vendor/gsdk/assets/img/flags/ES.png"/> Español <span class="label label-default">soon</span></a></li>
                          <li><a href="#"><img src="../assets/vendor/gsdk/assets/img/flags/BR.png"/> Português <span class="label label-default">soon</span></a></li>
                          <li><a href="#"><img src="../assets/vendor/gsdk/assets/img/flags/JP.png"/> 日本語 <span class="label label-default">soon</span></a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          With Icons
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-with-icons">
                          <li>
                            <a href="#">
                              <i class="pe-7s-user"></i> Account
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="pe-7s-mail"></i> Messages
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="pe-7s-portfolio"></i> Business Area
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="pe-7s-light"></i> Smart Area
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="pe-7s-tools"></i> Settings
                            </a>
                          </li>
                          <li>
                            <a href="#" class="text-danger">
                              <i class="pe-7s-close-circle"></i>
                              Log out
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav>

            </div><!--  end navbar -->
          </div>
          <div class="col-md-6">
            <div class="tim-title">
              <h3>Menu with icons</h3>
            </div>
            <div id="navbar2">
              <nav class="navbar navbar-ct-azure navbar-icons">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="pe-7s-keypad"></i>
                          <p>
                            Menu
                            <b class="caret"></b>
                          </p>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="">
                          <i class="pe-7s-global"></i>
                          <p>Explore</p>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="pe-7s-config"></i>
                          <p>Settings</p>
                        </a>
                      </li>

                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav>

            </div><!--  end navbar -->
          </div>

        </div> <!-- end row -->
      </div> <!-- end menu-dropdown -->
    </div>
  </div>
</div>
