<div class="wrapper">
  <div class="inner">
    <div class="formReplacer">
    <h3>Update</h3>
    <div class="form-wrapper">
      <label>Username</label>
      <input [(ngModel)]="user.username"  type="text" class="form-control" placeholder="UserName">
    </div>
    <br>
    <div class="form-row">
      <div class="form-wrapper">
        <label>First Name *</label>
        <input [(ngModel)]="user.firstName"  type="text" class="form-control" placeholder="First Name">
      </div>
      <div class="form-wrapper">
        <label>Last Name *</label>
        <input [(ngModel)]="user.lastName"  type="text" class="form-control" placeholder="Last Name">
      </div>
    </div>
    <div class="form-row last">
      <div class="form-wrapper">
        <label>Email *</label>
        <input [(ngModel)]="user.email"  type="text" class="form-control" placeholder="Email">
      </div>
      <div class="form-wrapper">
        <label>Phone * </label>
        <input [(ngModel)]="user.phone"  type="text" class="form-control" placeholder="Phone">
      </div>
    </div>

    <label class="btn btn-default btn-file">
      Upload Image <input (change)="fileChange($event)" type="file" style="display: none;" accept=".png,.jpg">
    </label>
    <button data-text="Update" (click)="update()" >
      <span>Update</span>
    </button>
    </div>
  </div>
</div>
