<body>
<div class="container">
  <!--Only display photo if user has one-->
  <div *ngIf="user.photo != null && user.photo != undefined">
    <img alt="{{user.username}} profile image" src="{{serverRoute}}{{user.photo.url}}" height="50" width="50"/>
  </div>
  <div class="row">
    <div class="form-group col-xs-6">
      <input type="text" [(ngModel)]="user.firstName" value="" placeholder="First name" class="form-control"/>
    </div>
    <div class="form-group col-xs-6">
      <input type="text" [(ngModel)]="user.lastName" value="" placeholder="Last name" class="form-control"/>
    </div>
  </div>

  <div class="form-group">
    <input type="text" [(ngModel)]="user.username" value="" placeholder="Username" class="form-control"/>
  </div>

  <div class="form-group">
    <input type="email" [(ngModel)]="user.email" value="" placeholder="Email" class="form-control"/>
  </div>

  <div class="form-group">
    <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".png,.jpg" class="form-control"/>
  </div>

  <div class="footer text-center">
    <button (click)="update()" class="btn btn-info btn-round btn-wd"> Update</button>
  </div>
</div>

</body>
