<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <!--if user has set his profile picture -->
          <div *ngIf="user.photo != null && user.photo != undefined">
            <img
              src="{{serverRoute}}{{user.photo.url}}"
              alt=""/>
          </div>
          <!-- else display stock image -->
          <div *ngIf="user.photo == null || user.photo == undefined">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
              alt=""/>
            </div>
          <!--Button to change photo-->
          <!--<div class="file btn btn-lg btn-primary">-->
            <!--Change Photo-->
            <!--<input type="file" name="file"/>-->
          <!--</div>-->
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            {{user.firstName}} {{user.lastName}}
          </h5>
          <h6>
            Web Developer and Designer
          </h6>
          <p class="proile-rating">RANKINGS : <span>8/10</span></p>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                 aria-selected="true">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                 aria-selected="false">Timeline</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <a routerLink="/edit" class="btn btn-round btn-default">Edit profile</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <!--jobs posted by the user-->
          <p *ngIf="jobsLoading || postings.length > 0">JOBS POSTED</p>
          <div *ngIf="jobsLoading">
            <div class="loader-sml">Loading...</div>
          </div>
          <div *ngIf="!jobsLoading">
            <div *ngFor="let posting of postings">
              <a href="http://localhost:4200/postings/{{posting._id}}"><p>{{posting.name}}</p></a>
            </div>
          </div>
          <p>YOUR SKILLS</p>
          <div *ngFor = "let skill of skills">
            <p>{{skill.name}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                <label>User Id</label>
              </div>
              <div class="col-md-6">
                <p>{{user.username}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
              </div>
              <div class="col-md-6">
                <p>{{user.firstName}} {{user.lastName}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>{{user.email}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Phone</label>
              </div>
              <div class="col-md-6">
                <p>{{user.phone}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Date of birth</label>
              </div>
              <div class="col-md-6">
                <p>{{user.dob}}</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <div class="col-md-6">
                <label>Experience</label>
              </div>
              <div class="col-md-6">
                <p>Expert</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Hourly Rate</label>
              </div>
              <div class="col-md-6">
                <p>10$/hr</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Total Projects</label>
              </div>
              <div class="col-md-6">
                <p>230</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>English Level</label>
              </div>
              <div class="col-md-6">
                <p>Expert</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Availability</label>
              </div>
              <div class="col-md-6">
                <p>6 months</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label>Your Bio</label><br/>
                <p>Your detail description</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!------ Include the above in your HEAD tag ---------->


